.falling-object {
    position: absolute;
    width: 50px;
    height: 50px;
    object-fit: contain;
    z-index: 40;
}

.floating-points {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 26px;
    font-weight: bold;
    opacity: 0;
    z-index: 99;
}
.plus-pop { color: #22c55e; animation: popUp 1s ease-out; }
.minus-pop { color: #ef4444; animation: popUp 1s ease-out; }

@keyframes popUp {
    0% { opacity: 0; transform: translate(-50%, 0); }
    30% { opacity: 1; transform: translate(-50%, -20px); }
    100% { opacity: 0; transform: translate(-50%, -40px); }
}