<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Emotion Games - Game Over</title>
    <link rel="stylesheet" href="../css/pageEmote_Happy3-style.csscss">
</head>
<body class="bg-pc">
    <div class="game-container status-container">
        <h1 class="text-danger">YAAH, GAGAL!</h1>
        <div class="character-preview">
            <img src="sad.png" alt="Mooru Sedih" class="mooru-sad animate-shake">
        </div>
        <p class="status-desc">Skormu turun di bawah batas aman. Mooru kelaparan atau memakan makanan yang salah!</p>
        <div class="action-bar">
            <a href="homePage.html" class="btn-main btn-retry">Back to Home</a>
        </div>
    </div>
</body>
</html>