<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Emotion Games - Game Over</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/pageEmote_Happy3-style.css">
</head>
<body>
    <div class="fail-container">
        
        <h1 class="fail-title">GAMEOVER!</h1>
        <p class="fail-subtitle">Mooru mual memakan benda asing atau terlalu banyak target yang terlewat...</p>

        <div class="avatar-container">
            <img src="../image/ew.png" class="mooru-sick" alt="Mooru Ew">
        </div>

        <div class="action-buttons">
            <a href="../view/pageEmote_Happy2.html" class="btn-retry">Main Lagi</a>
            <a href="../view/homePage.html" class="btn-back-home">Back To Home</a>
        </div>

    </div>
</body>
</html>